.font--large--bold {
  font-family: "Recursive";
  font-size: 24px;
  font-weight: 700;
}

.font--large--regular {
  font-family: "Recursive";
  font-size: 24px;
  font-weight: 400;
}

.font--middle--bold {
  font-family: "Recursive";
  font-size: 16px;
  font-weight: 700;
}

.font--middle--regular {
  font-family: "Recursive";
  font-size: 16px;
  font-weight: 400;
}

.font--small--bold {
  font-family: "Recursive";
  font-size: 14px;
  font-weight: 700;
}

.font--small--regular {
  font-family: "Recursive";
  font-size: 14px;
  font-weight: 400;
}

.pd-15 {
  padding: 15px;
}

.page-todo {
  overflow: hidden;
}

.todo-container {
  width: 100%;
  height: 100vh;
  background-image: url("../img/bg-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.todo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.todo-body {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 #000;
}

.todo-menu-wrapper {
  width: 100%;
  max-width: 350px;
  background-color: rgba(207, 207, 207, 0.562);
}
.todo-menu-wrapper.__scroll {
  overflow-y: scroll;
}

.todo-list-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.todo-app-name {
  display: flex;
}

.todo-app-name span {
  position: relative;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: orange;
}
.todo-app-name span:first-child {
  margin-left: 0px;
  background-color: red;
}

.todo-app-name span:last-child {
  margin-right: 0px;
  background-color: green;
}

.todo-menu-search {
}

.todo-menu-search .search-container {
  width: 100%;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: rgba(207, 207, 207, 0.562);
}
.todo-menu-search .fa-search {
  margin-right: 10px;
  cursor: pointer;
}
.todo-menu-search .search-container input {
  font-family: "Recursive";
  font-size: 14px;
  font-weight: 400;

  color: rgb(66, 66, 66);
  width: 80%;
  padding: 0 5px;
}

.todo-menu-tabs-dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
}

.dashboard-item {
  display: flex;
  justify-content: space-between;
  background-color: rgba(207, 207, 207, 0.562);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.dashboard-item:hover {
  background-color: rgba(223, 223, 223, 0.95);
}

.dashboard-item.__active {
  background-color: rgba(255, 255, 255, 0.7);
}

.tab-btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 5px;
  color: aliceblue;
}

.todo-menu-tabs-dashboard
  .dashboard-item:nth-child(1)
  .tab-btn-name
  .tab-btn-icon {
  background-color: rgb(0, 132, 255);
}
.todo-menu-tabs-dashboard
  .dashboard-item:nth-child(2)
  .tab-btn-name
  .tab-btn-icon {
  background-color: rgb(255, 187, 0);
}
.todo-menu-tabs-dashboard
  .dashboard-item:nth-child(3)
  .tab-btn-name
  .tab-btn-icon {
  background-color: rgba(98, 98, 99, 0.822);
}
.todo-menu-tabs-dashboard
  .dashboard-item:nth-child(4)
  .tab-btn-name
  .tab-btn-icon {
  background-color: rgb(255, 0, 0);
}

.tab-btn-name {
  color: rgb(66, 66, 66);
}

.btn-task-counter {
  color: rgb(66, 66, 66);
}

.todo-menu-tabs-list-container {
}

.todo-menu-tabs-list {
}

.todo-menu-tab-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  margin-bottom: 3px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 10px;
}

.todo-menu-tab-item:hover {
  background-color: rgba(223, 223, 223, 0.95);
}

.todo-menu-tab-item.__active {
  background-color: rgba(255, 255, 255, 0.7);
}

.tab-btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: aliceblue;
  background: rgb(136, 136, 136);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
/* .tab-btn-icon:nth-child(1) {
} */
.todo-menu-tabs-list
  .todo-menu-tab-item:nth-child(1)
  .tab-btn-name
  .tab-btn-icon {
  background-color: rgb(0, 132, 255);
}

.todo-menu-tabs-list
  .todo-menu-tab-item:nth-child(2)
  .tab-btn-name
  .tab-btn-icon {
  background-color: rgb(255, 187, 0);
}

.todo-menu-tabs-list
  .todo-menu-tab-item:nth-child(3)
  .tab-btn-name
  .tab-btn-icon {
  background-color: rgb(255, 0, 0);
}

.todo-menu-tabs-list
  .todo-menu-tab-item:nth-child(4)
  .tab-btn-name
  .tab-btn-icon {
  background: green;
}

.todo-menu-tabs-list
  .todo-menu-tab-item:nth-child(5)
  .tab-btn-name
  .tab-btn-icon {
  background-color: rgb(136, 136, 136);
}

.tab-btn-name {
  display: flex;
  align-items: center;
}
.dashboard-name {
  display: block;
}
.menu-tab-counter {
}

.todo-menu-add-list {
}

.add-list-btn {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  transition: all 0.3s;
  border-radius: 10px;
  cursor: pointer;
}

.add-list-btn:hover {
  background-color: rgba(223, 223, 223, 0.95);
}

.add-list-ico {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background: rgb(238, 238, 238);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.add-list-text {
}

.todo-list-add {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.add-btn {
  padding: 0 15px;
  box-shadow: 0 0 5px 0 #000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.3s;
}
.add-btn:hover {
  color: red;
}

.todo-list-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.todo-list-title.current-tab-color {
  color: rgb(0, 132, 255);
}
.tab-title {
  font-size: 30px;
}

.todo-counter {
  font-size: 30px;
}

.todo-list {
  display: none;
  position: relative;
  height: 100%;
  padding-right: 15px;
  overflow-y: auto;
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: rgb(150, 150, 150) rgb(204, 204, 204);
}
.todo-list.__active {
  display: block;
}

.todo-list::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

.todo-list::-webkit-scrollbar-track {
  background: rgb(204, 204, 204); /* color of the tracking area */
}

.todo-list::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 204); /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 3px solid rgb(150, 150, 150); /* creates padding around scroll thumb */
}

.todo-list-remove {
  align-self: flex-end;
  width: fit-content;
  text-align: end;
  padding: 0 15px;
  box-shadow: 0 0 5px 0 #000;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Recursive";
  font-size: 16px;
  transition: all 0.3s;
}

.todo-list-remove:hover {
  color: red;
}

.todo-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  padding: 10px 0;
}

.todo-item-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.todo-item-check:hover {
  color: red;
}

.todo-item-check.uncompleted-todo {
  display: none;
}
.todo-item-check.uncompleted-todo.__active {
  display: flex;
}
.todo-item-check.completed-todo {
  display: none;
}
.todo-item-check.completed-todo.__active {
  display: flex;
}

.todo-item-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.todo-info-text {
  font-size: 16px;
  font-family: "Recursive";
}

.todo-item-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid orange;
  color: orange;
  transition: all 0.3s;
  cursor: pointer;
}
.todo-item-info:hover {
  border: 1px solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
}

/* popups */

.popup__task-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(45, 45, 45, 0.65);
  border-radius: 10px;
}
.popup__task-info.__active {
  visibility: visible;
  display: flex;
}

.popup__info {
  position: relative;
  padding: 36px;
  min-width: 450px;
  min-height: 200px;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
}
.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.popup__close:hover {
  color: rgb(255, 0, 0);
}

/* Popup add */

.popup {
  visibility: hidden;
  display: none;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 45, 45, 0.85);
}
.popup.__active {
  visibility: visible;
  display: flex;
}

.popup__container,
.popup__content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  padding: 32px 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.95);
}
.popup__row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 32px;
}
.popup__row:last-child {
  margin-bottom: 0;
}

.popup__name {
  width: 100%;
  margin-right: 20px;
}
.popup__name input {
  font-family: "Recursive";
  font-size: 16px;
  line-height: normal;
  width: 100%;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.652);
}
.popup__name input.invalid {
  color: rgba(255, 0, 0, 0.652);
  border-bottom: 1px solid rgba(255, 0, 0, 0.652);
}
.popup__tab {
  width: 100%;
  display: inline-block;
  justify-content: center;
  border-bottom: 1px solid rgba(151, 151, 151, 0.652);
}
.popup__tab.invalid {
  color: rgba(255, 0, 0, 0.652);
  border-bottom: 1px solid rgba(255, 0, 0, 0.652);
}

.popup__info--add {
  width: 100%;
  height: 100%;
}
.popup__info--add textarea {
  font-family: "Recursive";
  font-size: 16px;
  line-height: normal;
  resize: none;
  width: 100%;
  height: 100%;
  min-height: 150px;
  padding: 10px 16px;
  border: 1px solid rgba(151, 151, 151, 0.652);
}
.popup__info--add textarea.invalid {
  color: rgba(255, 0, 0, 0.652);
  border: 1px solid rgba(255, 0, 0, 0.652);
}

.popup__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.popup__btn button {
  position: unset;
  padding: 5px 15px;
  min-width: 115px;
  color: rgb(116, 116, 116);
  background-color: rgba(207, 207, 207, 0.562);
  transition: 0.3s;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: "Recursive";
}

.popup__btn button:hover {
  cursor: pointer;
  color: #000;
  background-color: rgba(223, 223, 223, 0.95);
}

/* select field */

.nice-select {
  font-family: "Recursive";
  font-size: 16px;
  line-height: 16px;
  padding: 7px 10px;
  display: inline-block;
  width: 100%;
  height: auto;
  outline: none;
  color: #74646e;
  background: transparent;
  border-color: unset;
  border: 0;
  border-radius: 4px;
}
.nice-select.open .list {
  font-family: "Recursive";
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
}
.nice-select .option {
  font-family: "Recursive";
  font-size: 16px;
}
.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  font-size: 18px;
  color: #000;
}

.popup__select.invalid {
  border-color: red;
}
